/* Sentrerer <h1>-teksten */
h1 {
    text-align: center;
}

/* Setter bakgrunnsfarge for body, fjerner margin og padding, 
   og legger til et fast bakgrunnsbilde på en bestemt posisjon */
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-position: 50% 15%;
    background-size: 25% auto; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

/* Setter skrifttype, skriftstørrelse og farge for knapper, listeelementer og lenker */
.knapp, li, a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: darkorange;
}

/* Fjerner standard listeformatering og margin/padding for knappen */
.knapp {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Viser knapper og listeelementer inline og justerer toppmargin */
.knapp, li {
    display: inline;
    margin-top: 100%;
}

/* Setter skrifttype og margin for paragraftekst */
p {
    font-family: sans-serif;
    margin: 20px;
}

/* Endrer bakgrunnsfarge og tekstfarge når musen svever over lenker */
a:hover {
    background-color: rgba(0, 0, 0, 0.725);
    color: white;
    font-size: 25px;
}

/* Setter opp menyen som en horisontal flex-boks med sentrert innhold */
.meny {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 50px;
}

/* Stiler logo-seksjonen med sentrert og plassert innhold */
.logo {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 50px;
    height: 50px;
    width: auto;
}

/* Angir bredde og høyde på bildeelementet i logoen */
.logo img {
    width: 50px;
    height: 50px; 
}

/* Stiler <h1> med skrifttype og farge */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkorange;
}

/* Fjerner margin og padding fra <h2> */
h2 {
    margin: 0; 
    padding: 0;
}

/* Sentrerer tekst i <section> */
section {
    text-align: center;
}

/* Stiler dark-mode for bakgrunn og tekstfarge */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Stiler dark-mode for lenker og hover-effekter */
body.dark-mode a {
    color: #ddd;
}

body.dark-mode a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(221, 155, 49);
}

/* Stiler footer med senterjustering, padding, bakgrunnsfarge og plassering nederst */
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(52, 46, 46);
    color: white;
    position: fixed; 
    bottom: 0; 
    z-index: 10;
    width: 100%;
}
