.head, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tittel{
    text-align: center;
}


.li, a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    
}

a:hover{
    background-color: rgba(0, 0, 0, 0.725);
    color: white;
    font-size: 25px;
}

.bakgrunn{
    top: 100px;
}
