h1 {
    text-align: center;
}

.meny {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 50px;
}

.logo {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 50px;
    height: 50px;
    width:auto;
}

.logo img {
    width: 50px;
    height: 50px; 
}


h2 {
    margin: 0; 
    padding: 0;
}




